body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}
h1, h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: #150452;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    height: 200px;
    width: 50%;
    padding: 10px;
    border: 2px solid #333;
    background-color: grey;
}
